body{
  margin: 0;
}

@font-face {
    font-family: 'typoslabserif-lightregular';
    src: url('TypoSlabserif-Light-webfont.eot');
    src: url('TypoSlabserif-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('TypoSlabserif-Light-webfont.woff') format('woff'),
         url('TypoSlabserif-Light-webfont.ttf') format('truetype'),
         url('TypoSlabserif-Light-webfont.svg#typoslabserif-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.topBar{

  margin-left: -500px;
}

.logo{
  margin-left: -900px;
  margin-bottom: -30px;
}

/*
Navigation*/

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: white;
}

ul {
  text-align: center;
    list-style-type: none;
    padding: 4px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
  list-style-type: none;
  word-spacing: 20px;
  margin-top: -35px;
  margin-left: 300px;
  margin-top: 10px;

}

li {
  margin-top: -20px;
  display: inline;
  color: #f36546;
}

a {
  color: white;
  text-decoration: none;
}

.divider{
  border-top-color: black solid;
  border-bottom: .5px solid;
  padding-top: 70px;
  margin-left: 100px;
  margin-right: 100px;
}

.cartTitle{
  text-align: center;
  background-color: white;
  margin-left: 650px;
  margin-top:-40px;
  margin-right: 650px;
}

/* End Nav

*/


.boxImage{
  margin-left: 100px;
  margin-right: -30px;
}

.boxText{
margin-left: 120px;

}

/*
Footer Styling 
*/


.socialButtons{
  margin-top: -35px;
  margin-left: -75px;
}

footer{
   position:fixed;
   left:0px;
   bottom:0px;
  height: 100px;
  width: 100%;
  background-color: rgb(66, 69, 88);
}

.logoOne{
  margin-top: 16px;
  margin-left: 20px;
}

.contact{
  color: white;
  margin-left: 80px;
  margin-top: -60px;

}

.email{
  color: white;
  margin-left: 80px;
  }

  #button{
    background-color: rgb(69, 73, 86);
    height: 30px;
    width: 100px;
    border-radius: 5px;
    color: white;
    text-align: center;
  }

  .rightSide{
    text-align: center;
    background-color: #F0F0F0;
    height: 400px;
    width: 700px;
    margin-left: 650px;
    margin-top: -325px;

  }

  .col-sm-6{
    margin-right: -100px;
  }

.col-sm-4{
  margin-right: -50px;
}

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
.customwidth{
  max-width: 480px
}