body{
	margin: 0;
}
.topBar{

	margin-left: 100px;
}

/*
Navigation*/

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: white;
}

ul {
	text-align: center;
    list-style-type: none;
    padding: 4px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
  list-style-type: none;
 	word-spacing: 20px;
 	margin-top: -35px;
 	margin-left: 300px;
 	margin-top: 10px;

}

li {
	margin-top: -20px;
    display: inline;
    color: #f36546;
}

a {
   color: white;
    text-decoration: none;
}

.panelOne{

}

.oneText{
	margin-top: -400px;
	text-align: center;
}

.panelTwo{

	background-color: rgb(66, 69, 88);
	height: 400px;
	width: 100%
}