body{
	margin: 0;
}

@font-face {
    font-family: 'typoslabserif-lightregular';
    src: url('TypoSlabserif-Light-webfont.eot');
    src: url('TypoSlabserif-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('TypoSlabserif-Light-webfont.woff') format('woff'),
         url('TypoSlabserif-Light-webfont.ttf') format('truetype'),
         url('TypoSlabserif-Light-webfont.svg#typoslabserif-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.topBar{

	margin-left: 100px;
}

.logo{
  margin-left: -900px;
  margin-bottom: -30px;
}

/*
Navigation*/

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: white;
}

ul {
	text-align: center;
    list-style-type: none;
    padding: 4px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
  list-style-type: none;
 	word-spacing: 20px;
 	margin-top: -35px;
 	margin-left: 300px;
 	margin-top: 10px;

}

li {
	margin-top: -20px;
    display: inline;
    color: #f36546;
}

a {
   color: white;
    text-decoration: none;
}

/* End Nav

*/

.container{
  text-align: center;
  margin-right: 0px;
}
.skill{
  margin-top: 60px;
  text-align: center;
}

.beginner{
  text-align: center;
}

.col-sm-6{
margin-left: 30px;
margin-right: 30px;
}

/*
Footer Styling 
*/


.socialButtons{
  margin-top: -35px;
  margin-left: -75px;
}

footer{
   position:fixed;
   left:0px;
   bottom:0px;
  height: 100px;
  width: 100%;
  background-color: rgb(66, 69, 88);
}

.logoOne{
  margin-top: 16px;
  margin-left: 20px;
}

.contact{
  color: white;
  margin-left: 80px;
  margin-top: -60px;

}

.email{
  color: white;
  margin-left: 80px;
  }

  .btn{
    width: 100px;
  }
